@charset "UTF-8";
table, th, td {
  border: 1px solid #cccccc;
  padding: 10px;
  text-align: center;
  vertical-align: middle; }

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}
table thead {
  background-color: #3498db;
  color: #ffffff;
}
table thead th {
  padding: 10px;
  text-align: center;
  border: 1px solid #cccccc;
}
table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
  text-align: center;
}
table tbody tr:hover {
  background-color: #e0e0e0;
}
table tbody td {
  border: 1px solid #cccccc;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

section {
  display: flex;
  flex-direction: column; }

.events-list {
  display: flex;
  flex-direction: column;
  color: 212;
  border: 2px solid #0a0909;
  padding: 20px;
  margin-top: 20px;
  gap: 20px;
  align-items: center;
}
.events-list .events-list-title {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}

body.dark-theme {
  background-color: #4A4A4A;
  color: #ffffff;
}

body.dark-theme header {
  background-color: #4A4A4A;
}

section.dark-theme {
  color: black;
}

.btn-edit {
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: none;
  background-image: url("../images/pencil-alt-solid (1).svg");
}

/*----------------gsm----------------------------------------*/
@media screen and (max-width: 600px) {
  /* Ajoutez ici les règles de style que vous souhaitez appliquer
     aux écrans avec une largeur maximale de 600 pixels */
  body {
    font-family: Arial, sans-serif;
    background-color: beige;
    margin: 20px;
    padding: 10px; }

  h1, h2 {
    color: #3498db; }

  .main {
    padding: 20px; }

  .principal {
    max-width: 800px;
    margin: auto;
    background: beige;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }

  .events {
    margin-bottom: 20px; }
    .events-list {
      list-style-type: none;
      padding: 0; }
      .events-list li {
        background: #62b0f5;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px; }
    form label {
      font-weight: bold; }
    form input[type="text"],
    form textarea {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-family: Arial, sans-serif; }
    form textarea {
      resize: vertical; }
    form button {
      padding: 10px;
      border: none;
      background-color: #3498db;
      color: #ffff;
      border-radius: 5px;
      cursor: pointer;
      font-family: Arial, sans-serif; }
      form button:hover {
        background-color: #217dbb; }

  .error {
    color: #e74c3c;
    font-size: 0.9em; }

  #createEvent,
  #editEvent,
  #ajouterDisponibilite,
  #SupprimerEvent,
  #ajouterDates,
  #messageLog {
    margin-bottom: 20px;
  }
  #createEvent h2,
  #editEvent h2,
  #ajouterDisponibilite h2,
  #SupprimerEvent h2 {
    margin-bottom: 10px;
  }
  #createEvent form,
  #editEvent form,
  #ajouterDisponibilite form,
  #SupprimerEvent form {
    padding: 10px;
    background: gray;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  #createEvent form .error,
  #editEvent form .error,
  #ajouterDisponibilite form .error,
  #SupprimerEvent form .error {
    margin-top: -10px;
    margin-bottom: 10px;
  }
}
/*----------------pc----------------------------------------*/
@media screen and (min-width: 601px) {
  /* Ajoutez ici les règles de style que vous souhaitez appliquer
     aux écrans avec une largeur maximale de 600 pixels */
  body {
    font-family: Arial, sans-serif;
    background-color: beige;
    margin: 20px;
    padding: 10px; }

  h1, h2 {
    color: #3498db; }

  .main {
    padding: 20px; }

  .principal {
    max-width: 800px;
    margin: auto;
    background: beige;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }

  .events {
    margin-bottom: 20px; }
    .events-list {
      list-style-type: none;
      padding: 0; }
      .events-list li {
        background: #62b0f5;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px; }
    form label {
      font-weight: bold; }
    form input[type="text"],
    form textarea {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-family: Arial, sans-serif; }
    form textarea {
      resize: vertical; }
    form button {
      padding: 10px;
      border: none;
      background-color: #3498db;
      color: #ffff;
      border-radius: 5px;
      cursor: pointer;
      font-family: Arial, sans-serif; }
      form button:hover {
        background-color: #217dbb; }

  .error {
    color: #e74c3c;
    font-size: 0.9em; }

  #createEvent,
  #editEvent,
  #ajouterDisponibilite,
  #SupprimerEvent,
  #ajouterDates,
  #messageLog {
    margin-bottom: 20px;
  }
  #createEvent h2,
  #editEvent h2,
  #ajouterDisponibilite h2,
  #SupprimerEvent h2 {
    margin-bottom: 10px;
  }
  #createEvent form,
  #editEvent form,
  #ajouterDisponibilite form,
  #SupprimerEvent form {
    padding: 10px;
    background: gray;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  #createEvent form .error,
  #editEvent form .error,
  #ajouterDisponibilite form .error,
  #SupprimerEvent form .error {
    margin-top: -10px;
    margin-bottom: 10px;
  }
}/*# sourceMappingURL=style.css.map */